# 4.8 Grouping Data & Aggregating Variables

### This script contains the following points:

#### 1. Importing the data
#### 2. Grouping Data & Aggregating Variables
#### 3. Exporting the data

## 1. Importing the data

In [8]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [9]:
path = r'/Users/daniel/Desktop/LEBEN/Data Analyst/Data Analytics Course/Data Immersion/Achievement 4/Master Folder - Instacart Basket Analysis 09.09.2024'

In [10]:
#Importing the orders_products_combined_new.pkl from the prepared data folder

df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined_new.pkl'))

In [11]:
#Check the data frame for the dimensions

df_ords_prods_merge

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_day_update,busiest_hours_of_the_day
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regular days,Average orders
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid range product,Regularly busy,Regular days,Average orders
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low range product,Regularly busy,Regular days,Average orders
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low range product,Regularly busy,Regular days,Average orders
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low range product,Regularly busy,Regular days,Average orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,13,1,12,7.0,14197,5,1,Tomato Paste,9,9,5.6,both,Mid range product,Regularly busy,Busiest days,Most orders
32404855,2977660,206209,13,1,12,7.0,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both,Mid range product,Regularly busy,Busiest days,Most orders
32404856,2977660,206209,13,1,12,7.0,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both,Low range product,Regularly busy,Busiest days,Most orders
32404857,2977660,206209,13,1,12,7.0,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both,Low range product,Regularly busy,Busiest days,Most orders
32404858,2977660,206209,13,1,12,7.0,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both,Low range product,Regularly busy,Busiest days,Most orders

# 2. Grouping Data & Aggregating Variables

### 2.1 Group the data and find the aggregated mean

In [14]:
#Group the data frame by the department_id column and aggregate the mean of the order_number column

df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### How do the results for the entire data frame differ from those of the subset?
In my case, the subset output had already shown all the department numbers, not just a part, since my data frame seems to be ordered diffrently. However, taking the output from the exercise brief into account for the comparison shows that the mean for 4(produce) slightly dropped to an average of 18; on the other hand, the mean for 17 (household) increased to 16, which means that produce does not sell much more than products of the household department. Products of department 21(missing) sell the most on an average of 23, and products belonging to the alcohol department (5) sell the least by 15, whereas other departments are close to selling the same.

### 2.2 Creating a loyalty flag for existing customers

In [17]:
#Creating a loyalty flag for existing customers by using the transform() and loc () functions

#Start with the transform function by applying the max to the order_number column, and creating a new column called "max_order".

df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [18]:
#Next, executing the loc() function to set certain conditions for the loyalty_flag column

df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [20]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [21]:
df_ords_prods_merge['loyalty_flag'].value_counts()

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

### 2.3 Spending habits of the three types of customers

In [23]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['max', 'mean', 'min']})

                   prices
                      max       mean  min
loyalty_flag
Loyal customer    99999.0  10.386336  1.0
New customer      99999.0  13.294670  1.0
Regular customer  99999.0  12.495717  1.0

### 2.4 Creating a spending flag for customers

In [25]:
#Creating a spending flag for existing customers by using the transform() and loc () functions

#Start with the transform function by applying the mean to the prices column, and creating a new column called "average_prices".

df_ords_prods_merge['average_prices'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [26]:
#Next, executing the loc() function to set certain conditions for the spending_flag column

df_ords_prods_merge.loc[df_ords_prods_merge['average_prices'] >= 10, 'spending_flag'] = 'High spender'

In [27]:
df_ords_prods_merge.loc[df_ords_prods_merge['average_prices'] < 10, 'spending_flag'] = 'Low spender'

In [28]:
df_ords_prods_merge.head(10)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest_day,busiest_day_update,busiest_hours_of_the_day,max_order,loyalty_flag,average_prices,spending_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,9.0,both,Mid range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,12.5,both,Mid range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,...,4.4,both,Low range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,...,4.7,both,Low range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,1.0,both,Low range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender
5,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,...,3.0,both,Low range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,...,4.4,both,Low range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,...,10.3,both,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,...,4.7,both,Low range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender

In [29]:
df_ords_prods_merge['spending_flag'].value_counts()

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

### 2.5 Creating a frequncy flag for days since last order column

In [31]:
#Creating a frequency flag for existing customers by using the transform() and loc () functions

#Start with the transform function by applying the median to the days since last order column, and creating a new column called "median_days_since_last_order".

df_ords_prods_merge['median_days_since_last_order'] = df_ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform('median')

In [32]:
#Next, executing the loc() function to set certain conditions for the frequency_flag column

df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_last_order'] >= 10 , 'frequency_flag'] = 'Frequent customer'

In [33]:
df_ords_prods_merge.loc[(df_ords_prods_merge['median_days_since_last_order'] >10) & (df_ords_prods_merge['median_days_since_last_order'] <= 20), 'frequency_flag'] = 'Regular customer'

In [34]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_last_order'] > 20 , 'frequency_flag'] = 'Non-frequent customer'

In [35]:
df_ords_prods_merge

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_day_update,busiest_hours_of_the_day,max_order,loyalty_flag,average_prices,spending_flag,median_days_since_last_order,frequency_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,Mid range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Mid range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,...,Low range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,...,Low range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Low range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,13,1,12,7.0,14197,5,1,Tomato Paste,...,Mid range product,Regularly busy,Busiest days,Most orders,13,Regular customer,7.058915,Low spender,18.0,Regular customer
32404855,2977660,206209,13,1,12,7.0,38730,6,0,Brownie Crunch High Protein Bar,...,Mid range product,Regularly busy,Busiest days,Most orders,13,Regular customer,7.058915,Low spender,18.0,Regular customer
32404856,2977660,206209,13,1,12,7.0,31477,7,0,High Protein Bar Chunky Peanut Butter,...,Low range product,Regularly busy,Busiest days,Most orders,13,Regular customer,7.058915,Low spender,18.0,Regular customer
32404857,2977660,206209,13,1,12,7.0,6567,8,0,Chocolate Peanut Butter Protein Bar,...,Low range product,Regularly busy,Busiest days,Most orders,13,Regular customer,7.058915,Low spender,18.0,Regular customer
32404858,2977660,206209,13,1,12,7.0,22920,9,0,Roasted & Salted Shelled Pistachios,...,Low range product,Regularly busy,Busiest days,Most orders,13,Regular customer,7.058915,Low spender,18.0,Regular customer

In [36]:
df_ords_prods_merge['frequency_flag'].value_counts()

frequency_flag
Regular customer         6921472
Non-frequent customer    2686728
Frequent customer        1305756
Name: count, dtype: int64

In [38]:
#Treating the outliers of the prices column, any value above 100 is replaced with NaN value.

df_ords_prods_merge.loc[df_ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [42]:
df_ords_prods_merge['prices'].max()

25.0

## 3. Exporting the data

In [40]:
#Export the data frame in pkl format
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_new.pkl'))